<div class="container">
	<h1> Les Restaurants <span> Atypiques</span> </h1>
	<div class="row">
		<div class="listRestaurantsFooter col-lg-4">
			<h3>Nos restaurants</h3>
			<ul>
				<li><a href="#">La Loupe</a></li>
				<li><a href="#">Chartres</a></li>
				<li><a href="#">Fontainebleau</a></li>
				<li><a href="#">Bordeaux</a></li>
				<li><a href="#">Toulouse</a></li>
				<li><a href="#">Lyon</a></li>
			</ul>
		</div>
		<div class="newsletterForm col-lg-4">
			<h3>Newsletter</h3>
			<form action="" method="POST" role="form">
				<div class="form-group">
					<input type="text" class="form-control" id="" placeholder="Votre adresse e-mail">
				</div>
				<button type="button" class="btn btn-orange">OK</button>
			</form>

		</div>
		<div class="socialNetworks col-lg-4">
			<h3>Suivez-nous</h3>
			<ul>
				<li>
					<a id="facebook" href="#"></a>
				</li>
				<li>
					<a id="twitter" href="#"></a>
				</li>
				<li>
					<a id="instagram" href="#"></a>
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<ul class="footerLinks">
			<li><a href="#">Mentions légales</a></li>
			<li> | <a href="#">CGU</a> | </li>
			<li><a href="#">Contact</a></li>
		</ul>
	</div>
</div>