<header id="jsHeader">
	<div id="menuButton">
		<div></div>
		<div></div>
		<div></div>
	</div>
	<nav class="animated">
		<i id="navClose" class="glyphicon glyphicon-remove-circle"></i>
		<img src="../images/logo-header-white.png" alt="Logo">
		<ul>
			<li><a href="qui_sommes_nous.html">Qui sommes-nous ?</a></li>
			<li><a href="nos_restaurants.html">Nos restaurants</a></li>
			<li><a id="franchise" href="devenir_une_franchise.html">Devenir franchisé</a></li>
		</ul>
	</nav>
</header>
<script src="../js/core.js"></script>