<div class="pageTitle">
	<div class="container">
		<header id="jsHeader">
			<div id="menuButton">
				<div></div>
				<div></div>
				<div></div>
			</div>
			<nav class="animated">
				<i id="navClose" class="glyphicon glyphicon-remove-circle"></i>
				<img src="images/logo-header.png" alt="Logo">
				<ul>
					<li><a href="#">Qui sommes-nous ?</a></li>
					<li><a href="#">Nos restaurants</a></li>
					<li><a id="franchise" href="#">Devenir franchisé</a></li>
				</ul>
			</nav>
		</header>
	</div>
</div>